<br><br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <div id="bg-image">
   </div>

   <div class="container">
    <div class="row">
      <div class="bg-about">
      <span>About</span>
      <br>
      <div class="line">
      <p align="justify">Universal, incontrovertible, subjective: serving as a guardian of these principles of human rights in these places close to home, the United Nations Human Rights Council upholds the rights that are implicit in individuals simply by virtue of their being human. At IITM-MUN 2019, we are proud to present it as one of the five councils what will be simulated at the conference.</p> 
                <p align="justify">The UN Human Rights Council is an inter-governmental body that was formed on the 15th of March, 2006. It is a subsidiary body of the UN General Assembly that comprises 47 member states, with a mandate to strengthen the protection and promotion of human rights across the globe, address situations of violations, and make recommendations on them. It has the ability to discuss all thematic human rights issues and situations that require its attention throughout the year. It also promotes the implementation of human rights obligations undertaken by States and helps them in building dialogue, providing technical assistance, and capacity building measures. 
                </p>       
      </div>
      </div>
      </div>
      </div>

      <div class="bg-about">
        <span>AGENDA</span>
      <br>
      <blockquote class="bg-gray primary">
        <p><em> “Situation of human rights in Ukraine, including the Temporarily occupied territories.”</em></p>
      </blockquote>
      </div>
      <div class="matrix">
      <a href="https://docs.google.com/spreadsheets/d/17G4N-1BKy3e7LJmxgKJLH420luW0E0HckjuTEkUfrnw/edit?ts=5bd4b6dc#gid=0" target="_blank">Country Matrix</a>
        </div>
      <div class="bg-about">
        <span>Executive Board</span>
      </div>

      <div class="container">
        <div class="row">
          <div class="column">
            <div class="card">
              <img class="image1" src="assets/images/eb/eassa.jpg" alt="" style="width: 100%;">
              <div class="container"><br>
                <p class="title">“Anything is possible.”
                </p>
              </div>
            </div>
          </div>
          </div>
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="column">
                <div class="card">
                  <img class="image1" src="assets/images/eb/anand.jpg" alt="" style="width: 100%;">
                  <div class="container"><br>
                    <p class="title">Meticulous, awkward and verbose, these are the three words that people choose to associate with Anand on first mention. Anand is a fourth year ECE student at SSN, and  has been MUNing right from high school. He has competed mainly in Human Rights Councils, and has a keen interest towards discussing issues that come up before these councils for discussion.
                      </p>
                  </div>
                </div>
              </div>
              </div>
              </div>
  
              <div class="container">
                <div class="row">
                  <div class="column">
                    <div class="card">
                      <img class="image1" src="assets/images/eb/shankar.jpg" alt="" style="width: 100%;">
                      <div class="container"><br>
                        <p class="title">K Shankar is a fourth-year Mechanical Engineering student from SRM Institute of Science and Technology, Kattankulathur. He has attended over 25 MUN conferences in the capacity of both a delegate and an executive board member, with specialisation in Human Rights Councils and policy-based committees. Known for his keen interest in international law, it would be safe to assume that Malcolm Shaw is his guilty pleasure. Besides MUNs, this “six-foot tall gentle giant” is a DC fanboy and has a peculiar liking for impromptu trips. Shankar wishes to pursue a career in public services. 
                          IITM MUN 2019 shall be his first MUN as an Executive Board member in the Chennai circuit, and the delegates can expect an extremely comforting, accommodating, hospitable and efficient Executive Board member!
                          </p>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>