<br><br><br>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <div id="bg-image">
   <div id="bg-image-overlay"></div>
  </div> -->
  <ng4-loading-spinner [threshold]="500" [timeout]="800" [template]="template" [zIndex]="9999"></ng4-loading-spinner>
    <h1 class="elegantshadow">COMMITTEES</h1>
      
  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
          <div class="content">
            <a routerLink="/committee1" routerLinkActive="active">
              <div class="content-overlay"></div>
              <img class="content-image" src="assets/images/1.png">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title" style="font-size: 20px;">"To formulate a resolution to deal with the problems raised by the discovery of atomic energy and related matters."</h3>
                
              </div>
            </a>
          </div>
          </div>
          <div class="col-sm-6">
                <div class="content">
                  <a routerLink="/committee2" routerLinkActive="active">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="assets/images/2.png">
                    <div class="content-details fadeIn-bottom">
                      <h3 class="content-title" style="font-size: 20px;">"Plenary session: Improving United Nation’s effectiveness and results in transitioning from Relief to Development with special emphasis on Vulnerable Nations"</h3>
                    </div>
                  </a>
                </div>
                </div>
          </div>
        </div>
        <br>
        <br>


  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
          <div class="content">
             <a routerLink="/committee3" routerLinkActive="active">  
              <div class="content-overlay"></div>
              <img class="content-image" src="assets/images/3.png">
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title" style="font-size: 20px;">“Situation of human rights in Ukraine, including the Temporarily occupied territories.”</h3>
              </div>
            </a>
          </div>
          </div>
          <div class="col-sm-6">
                <div class="content">
                    <a routerLink="/committee4" routerLinkActive="active">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="assets/images/4.png">
                    <div class="content-details fadeIn-bottom">
                      <h3 class="content-title" style="font-size: 20px;">"Special Session of the ORF : Analysing the current geopolitical and economic climate and discussing India's role in the emerging global landscape with special emphasis on Asia."</h3>
                    </div>
                  </a>
                </div>
                </div>
          </div>
        </div>
        <br>
        <br>


        <div class="container-fluid">
            <div class="row">
                
              <div class="content">
                 <a routerLink="/committee5" routerLinkActive="active">  
                  <div class="content-overlay"></div>
                  <img class="content-image" src="assets/images/5.png">
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title" style="font-size: 20px;">"Review of Chapter VI and VII of the United Nations Charter"</h3>
                  </div>
                </a>
              </div>
              
              
              </div>
            </div>
            <br>
            <br>
            

        



  
 
