<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<footer>
     <div class="container-fluid bg-primary py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <div class="row py-0">
          <div class="col-xs-1" >
              <a class="bg-circle bg-info" href="#">
                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-xs-11 text-white">
                <div>
                  <h6 style="margin-right: 10px;padding-left: 40px;">Rasika Joshi</h6>
                  <h6 style="margin-right: 10px;padding-left: 39px;">Secretary General</h6>
                    <p style="margin-left: 12px;padding-left: 26px;">91-95608 44684</p>
                </div>
            </div>
            </div>
        </div>
      
        <div class="col-md-5" style="text-align: center;">
          <div class="d-inline-block">
            
            

            <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998; margin-right: 10px;">
              <a href="https://www.facebook.com/groups/1606622079639597/">
                <i class="fa fa-2x fa-fw fa-facebook text-white"></i></a>
            </div>
            <div class="bg-circle-outline d-inline-block" style="background-color:#d34836;margin-right: 10px;">
              <a href="mailto:iitm.mun@gmail.com" target="_blank">
                <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
            </div>
            <div class="bg-circle-outline d-inline-block" style="background-color:#458eff">
              <a href="/home">
                <i class="fa fa-2x fa-fw fa-instagram text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</footer>
    <!--/.footer-->
    <div class="copyright">
<span class="text-center">  © Copyright &nbsp; Institute Web Operations, IIT Madras. </span>
</div>

    <!--/.footer-bottom--> 