<br><br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <div id="bg-image">
   </div>

   <div class="container">
    <div class="row">
      <div class="bg-about">
      <span>About</span>
      <br>
      <div class="line">
      <p align="justify">The UNSC deals with any and all threats to global security and peace, and is also the only council which has the authority to carry out action. It represents the highest level of diplomacy in the United Nations and is without a doubt a threat to any adversary of world peace. Like the UN as a whole, the Security Council was created following World War II to address the failings of a previous international organization, the League of Nations, in maintainin world peace.</p> 
      <p align="justify">The UN's role in international collective security is defined by the UN Charter, which authorizes the Security Council to investigate any situation threatening international peace; recommend procedures for peaceful resolution of a dispute; call upon other member nations to completely or partially interrupt economic relations as well as sea, air, postal, and radio communications, or to sever diplomatic relations; and enforce its decisions militarily, or by any means necessary. The Security Council also recommends to the General Assembly the appointment of the Secretary-General and the admission of new Members to the United Nations. And, together with the General Assembly, it elects the judges of the International Court of Justice.</p>          
      </div>
      </div>
      </div>
      </div>

      <div class="bg-about">
        <span>AGENDA</span>
      <br>
      <blockquote class="bg-gray primary">
        <p><em> "Review of Chapter VI and VII of the United Nations Charter"
          </em></p>
      </blockquote>
      </div>
      <div class="matrix">
      <a href="https://docs.google.com/spreadsheets/d/1TyzZIKH5eifjG96AciKnkJJVKaffjMXBRYdPdvo6Mmw/edit?ts=5bd4b6dc#gid=0" target="_blank">Country Matrix</a>
        </div>
      <div class="bg-about">
        <span>Executive Board</span>
      </div>

      <div class="container">
        <div class="row">
          <div class="column">
            <div class="card">
              <img class="image1" src="assets/images/eb/karthi.jpg" alt="" style="width: 100%;">
              <div class="container">
                <br>
                <p class="title">Karthi is a graduate in Aeronautical Engineering and is part of the rare breed that would state the same with pride. As he crossed adolescence, he acquired a huge interest in debates and as he entered college, his choice of poison switched to MUNs. With a humorous debut at HYLC 2015 in the Bilderberg Conference, he has never looked back, participating in multiple coveted MUNs across the Nation ever since.
                  Besides MUNs, Karthi participates in a plethora of activities from rocketry and coding to gaming, from chess to quizzes, from blogging to technical projects and from Communism to.. just communism. He is rightfully a Jack of all trades and a master of none but as anyone who knows Karthi well could tell you, he's still better than a master of one.
                  
                </p>
              </div>
            </div>
          </div>
          </div>
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="column">
                <div class="card">
                  <img class="image1" src="assets/images/eb/vadiraj.jpg" alt="" style="width: 100%;">
                  <div class="container"><br>
                    <p class="title">Vadiraj Anirudh is a fourth year law student at School of Law, CHRIST, Bengaluru. Introduced to MUNs back in 2014, he still takes part in conferences with the same vigour and passion. It is given that he walks into every committee well researched. However, logic, he feels can beat any research and sound rhetoric is important to sway a committee your way.  Having been a part of various prestigious conferences in capacities of a delegate, EB member and member of the Secretariat, his experience will surely nurture the delegates and give them a surreal MUN experience.
                      </p>
                  </div>
                </div>
              </div>
              </div>
              </div>
  
              <div class="container">
                <div class="row">
                  <div class="column">
                    <div class="card">
                      <img class="image1" src="assets/images/eb/srini.jpg" alt="" style="width: 100%;">
                      <div class="container"><br>
                        <p class="title">Srini Vasan is a final year Electronics and Communication Engineering student from KCG
                          College of Technology. Never beating around the bush and keeping his thoughts at the tip of his
                          tongue,Srini is known for being allergic to nonsense and incompetence among other (several
                          other) things, He is someone who likes to keep things short , comprehensive, crisp and to the
                          point. For more information kindly meet him in person.
                          </p>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>