
<br><br><br>
<h1 class="elegantshadow">THE TEAM</h1>
<div style="margin-left: 20px; margin-right: 20px;">

    <div class="container">
        <div class="row">
            <div class="carde">
              <img src="assets/team1/team/14.jpg" alt="" width="100%">
              <div class="container">
                  <h2 style="text-align: center">Rasika Joshi</h2>
                  <p class="title">Secretary General</p>
                </div>
            </div>
            
          </div>
          </div>
          
<br>
<div class="row">
    <div class="column">
          <div class="card">
            <img src="assets/team1/team/13.jpeg" alt="" style="width: 100%">
            <div class="container">
              <h2 style="text-align: center">Ajmal Hussain</h2>
              <p class="title">Under Secretary General</p>
              <p class="title" style="margin-top: -15px;">Delegate Affairs</p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="assets/team1/team/15.jpg" alt="" style="width: 100%">
              <div class="container">
                <h2 style="text-align: center">Swathi Babu</h2>
                <p class="title">Under Secretary General</p>
                <p class="title" style="margin-top: -15px;">Delegate Affairs</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="assets/team1/team/21.jpg" alt="" style="width: 100%">
              <div class="container">
                <h2 style="text-align: center">Ashwath A</h2>
                <p class="title">Under Secretary General</p>
                <p class="title" style="margin-top: -15px;">Design</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="assets/team1/team/22.jpeg" alt="" style="width: 100%">
              <div class="container">
                <h2 style="text-align: center">Yash</h2>
                <p class="title">Under Secretary General</p>
                <p class="title" style="margin-top: -15px;">Design</p>
              </div>
            </div>
          </div>
</div>
</div>
<br>

<div class="row">
  <div class="column">
        
      </div>

      <div class="column">
          <div class="card">
            <img src="assets/team1/team/23.jpeg" alt="" style="width: 100%">
            <div class="container">
              <h2 style="text-align: center">Avino Niphi</h2>
              <p class="title">Under Secretary General</p>
              <p class="title" style="margin-top: -15px;">Sponsorship & Finance</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/team1/team/24.JPG" alt="" style="width: 100%">
            <div class="container">
              <h2 style="text-align: center">Tapish Garg</h2>
              <p class="title">Under Secretary General</p>
              <p class="title" style="margin-top: -15px;">Web Developer</p>
            </div>
          </div>
        </div>
        <!-- Wait a Second I am doing some setup https://github.com/shivtavker/IITM-MUN-Frontend.git -->

</div>


<br>

<div class="row"> 
  <div class="column">
    <div class="card">
      <img src="assets/team1/team/11.jpg" alt="" style="width: 100%">
      <div class="container">
        <h2 style="text-align: center">Hanusha</h2>
        <p class="title">General Administrator</p>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="card">
        <img src="assets/team1/team/20.jpg" alt="" style="width: 100%">
        <div class="container">
          <h2 style="text-align: center">Vaidehi Mishra</h2>
          <p class="title">General Administrator</p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="assets/team1/team/17.jpg" alt="" style="width: 100%">
          <div class="container">
            <h2 style="text-align: center">Malavika</h2>
            <p class="title">General Administrator</p>
          </div>
        </div>
        </div>

      <div class="column">
          <div class="card">
            <img src="assets/team1/team/16.jpg" alt="" style="width: 100%">
            <div class="container">
              <h2 style="text-align: center">Jabir Ali</h2>
              <p class="title">General Administrator</p>
            </div>
          </div>
        </div>

      

</div>
<br>

<div class="row">
  <div class="column">
    
  </div>

  <div class="column">
      <div class="card">
        <img src="assets/team1/team/19.jpg" alt="" style="width: 100%">
        <div class="container">
          <h2 style="text-align: center">Cherene</h2>
          <p class="title">General Administrator</p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="assets/team1/team/18.jpg" alt="" style="width: 100%">
          <div class="container">
            <h2 style="text-align: center">Haripriya</h2>
            <p class="title">General Administrator</p>
          </div>
        </div>
      </div>

      
</div>

