#bg-image{
    background-image: url('../../../assets/images/website/mun-website-03.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0px;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    padding: 0px 0px 0px 0px;
}

#bg-image-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

}
.bg-about{
    text-align: center;
    font-size: 50px;
    }

.bg-about p{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.column{
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
    margin-right: 120px;
    margin-left: 120px;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
  }

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
    text-align: center;
  }

  .image1 {
      height: 500px;
  }

  a:link, a:visited {
    background-color: #0ad670;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #05aa57;
}

.matrix{
    text-align: center;
}
  
  @media screen and (max-width: 640px){
    h1{
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      font-size: 40px !important;
      text-align: center;
      text-transform: uppercase;
      padding: 30px 40px;
    }
   .elegantshadow{
    text-align: center;
    color: #131313;
    padding-top: 60px;
  }

  
 }

 @media screen and (max-width:820px){
    .column {
        width: 100%;
        display: block;
        margin-right: 0px;
        margin-left: 0px;
      }
    
    .image1{
        height: auto;
    }
 }

 @media screen and (max-width:970px) and (min-width:500px){
    #bg-image{
        background-image: url('../../../assets/images/website/mun-website-08.png');
        background-size: cover;
        background-position: center center;
        position: relative;
        top: 0px;
        bottom: 0;
        height: 100%;
        z-index: -10;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        padding: 0px 0px 0px 0px;
    }
 }

 @media screen and (max-width:500px){
    #bg-image{
        background-image: url('../../../assets/images/website/mun-website-16.png');
        background-size: cover;
        background-position: center center;
        position: relative;
        top: 0px;
        bottom: 0;
        height: 100%;
        z-index: -10;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        padding: 0px 0px 0px 0px;
    }

    .image1{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
}