<br><br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <div id="bg-image">
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="bg-about">
      
    
      <div class="line">
      <p align="justify" style="color: gray"> The human voice is the most powerful instrument of all – it can start wars,
         it can spread peace. For the past three years, the students of IIT Madras have been 
         proud to play host to an assemblage of the brightest academic and professional
          minds from across the country at the IITM Model United Nations Conference.
           Model UN conferences are highly intensive academic simulations of the conclaves
            of the United Nations, or other governmental and international bodies, which
             introduce students to the world of diplomacy, negotiation, and decision making.
              With consistent participation of over 200 delegates over the years, in the fourth
               iteration of the conference in 2019, we plan to build upon this foundation and 
               provide wide fora for participants to engage with their peers in policy-oriented 
               debate and deliberations on international law and affairs. We firmly believe in 
               the active participation of students in the policy formulation processes that have 
               worldwide impact.</p> 
                 
      </div>
      </div>
      <div class="bg-message">
        
        <span>Letter from the Secretary General </span>
        <div class="container">
            <div class="row">
              
                  <img class="image1" src="assets/team1/team/14.jpg" alt="">
                  
                </div>
              
              </div>
        

        <div class="paragraph">
        <p align="justify" style="color: gray">On behalf of the Secretariat and Organising Committee of IITM MUN 2019, it gives me great pleasure to extend to you an invitation to the fourth iteration of the conference. 
            Across all its previous editions, we have strived to provide an unmatched conference experience for all those associated with it. As we gear up for the 2019 edition, I have inveterate confidence that we will uphold the highest standards of debate, the top-notch Executive Board panel and the singularly unique council simulations that have defined IITM MUN since its inception. 
            </p>
          
        <p align="justify" style="color: gray">The conference would be held on January 18th-20th, 2019 in the halls of the historic campus of IIT Madras, and the Organising Committee would be immensely honoured to host this colloquium.  </p>
        <p align="justify" style="color: gray">With that, mesdames et messieurs, I welcome you to embark upon this journey with us. I solicit your presence to make IITM Model United Nations Conference truly memorable.
          </p>
        <p align="left" class="regards" style="color: gray">Godspeed<br><br>Rasika Joshi<br>Secretary General <br> IITM MUN 2019</p>
        </div>
      </div>
    </div>
  </div>

<div class="span8">
    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%&height=600&hl=en&coord=12.9914769,80.2336786&q=IIT%20MADRAS%20Chennai%2C%20India+(Your%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed"></iframe>
</div>



