.app-loading {
<<<<<<< HEAD
    .logo {
      width: 100px;
      height: 100px;
      
      // this way asset gets processed by webpack
    }
  }
=======
  .logo {
    width: 100px;
    height: 100px;

    // this way asset gets processed by webpack
    background-image: url('./assets/images/img.jpeg') center center no-repeat;
  }
}
>>>>>>> d24e412449b5e1072e9221e876b3505e1c5f2e12
